#delete {
  height: fit-content;
  width: fit-content;
  padding: 0px;
  margin-left: 15px;
  background: none;
  border: none;
}

#delete:hover {
    color: orangered;
}

#songDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.addSongToQueue {
  color: black;
  background-color: orange;
  border: 2px black solid;
}

.addSongToQueue:hover {
  color: white;
  /* border-color: white; */
  background-color: orangered;
}
