.queueButton {
    border: none;
    background-color: white;
    padding-top: 10px;
}

.fa-solid.fa-music {
    font-size: 20px;
}

.queuePopup {
    width: 170px;
    height: 300px;
    background-color: #cfcece;
    position: fixed;
    bottom: 89px;
    border-radius: 3px;
    padding-left: 20px;
}

.queueSong {
    font-size: 12px;
}

.queueTitle {
    padding-top: 20px;
    padding-bottom: 30px;
}

i#queue {
    width: fit-content;
    font-size: 13px;
}
i#queue:hover {
    cursor: pointer;
    color: red;
}

.bottomBorder {
    border-bottom: 1px solid black;
}

.overflow {
    overflow-y: scroll;
}

.queueSongs {
    height: 238px;
    padding-right: 15px;
}

.queueLogo {
    width: 25px;
    margin-right: 15px;
}
