.commentsTitle {
    border-bottom: solid lightgrey;
    color: #999999;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 25px;
    font-size: 14px;
    width: 652px;
}

.commentsList {
    padding-right: 80px;
    padding-left: 80px;
    width: fit-content;
}

.commentUser {
    color: #999999;
    font-size: 12px;
}

.comment {
    color: #333333;
    font-size: 12px;
}

.commentContainer {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profilePhoto {
    width: 40px;
    margin-right: 20px;
    border-radius: 50%;
}

.profilePhotoSquare {
    width: 40px;
    margin-right: 5px;
}

.createComment {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f2f2f2;
    width: 650px;
    height: 40px;
    margin-left: 40px;
    margin-top: 20px;
    border: solid 1px lightgray;
    border-radius: 2px;

}

.inputComment {
    height: 24px;
    padding: 0px 0px 0px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
    width: 595px;
    font-size: 15px;
}
