.signIn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 525px;
}

input {
    width: 400px;
    height: 35px;
    margin-bottom: 15px;
    font-size: 20px;
    border-radius: 4px;
    border-width: 1px;
}

.submit {
    width: 410px;
    height: 40px;
    font-size: 15px;
    background-color: orangered;
    border: none;
    border-radius: 4px;
    color: white;
}

.submit:hover {
    cursor: pointer;
}

.close {
    width: 25px;
    height: 25px;
    background-color: white;
    border: none;
    position: relative;
    left: 94%;

}

.close:hover {
    cursor: pointer;
}


#openAddSongToPlaylist {
    height: fit-content;
    width: fit-content;
    padding: 0px;
    margin-left: 15px;
    background: none;
    border: none;
    background-color: orangered;
}

#openAddSongToPlaylist:hover {
    color: white;
}

i.fa-solid.fa-plus {
    font-size: 25px;
}

.addContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: fixed;
    width: 180px;
    padding: 2px
}

.choosePlaylist {
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.choosePlaylist > li {
    border: 1px solid grey;
    width: 300px;
    display: flex;
    justify-content: center;

}


.choosePlaylist > li:hover {
    border-color: orangered;
}
