#songsList {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: none;
    justify-content: space-between;
    margin-block-start: 0px;
    padding-inline-start: 0px;
}

li.songs {
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.outerContainer > img:hover {
    border-color: orangered;
    cursor: pointer;
}

/* .outerContainer:hover > .songImage {
    border-color: orangered; */
/* } */

.outerContainer {
    display: flex;
    flex-direction: column;
}


div.outerContainer > img {
    border: solid black 2px;
    width: 180px;
    height: 180px;
}

#mySongs {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#addSongButton {
    height: fit-content;
    width: fit-content;
    padding: 0px;
    margin-left: 15px;
    background:none;
    border: none
}

#addSongButton:hover {
    color: orangered;
}

i.fa-solid.fa-plus {
    font-size: 25px;
}

i.fa-sharp.fa-solid.fa-circle-play {
    font-size: 60px;
    color: orange;
    background-color: white;
    border-radius: 50%;
    border: 0px;
    display: none;
}

i.fa-sharp.fa-solid.fa-circle-play:hover {
    color: orangered;
}



.overlay {
    position: absolute;
    display: flex;
    height: 180px;
    width: 180px;
    justify-content: center;
    align-items: center;
    z-index: 0;
    border: solid black 2px;
}

.overlay:hover {
    border-color: orangered;
    cursor: pointer;
}

.overlay:hover > i.fa-solid.fa-circle-play {
    display: block;
}

.fa-solid.fa-circle-info:hover {
    color: orange;
    cursor: pointer;
}

.addContainer2 {
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    position: absolute;
    width: 180px;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    z-index: 1;
}

.addContainer3 {
    display: flex;
    justify-content:flex-end;
    align-items: flex-start;
    position: absolute;
    width: 180px;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    z-index: 1;
}
