.topBar {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
    height: 50px;
}

.logo {
    height: 50px;
    width: 70px;
}

.logo:hover + .logoText {
    color: orange;
}

.logoText {
    color: white;
}

.logoText:hover {
    color: orange
}

.logoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logoContainer:hover {
    cursor: pointer;
}

.button:hover {
    cursor: pointer;
}

.nav {
    width: auto;
    display: flex;
    align-items: center;
}

.pageContainer {
    /* margin-left: 10%;
    margin-right: 10%; */
    width: 1100px;
}

.bodyContainer {
    display: flex;
    justify-content: center;
    flex-shrink: 1;
    min-width: 1100px;
    padding-bottom: 50px;

}

#bar {
    height: 3px;
    background-color: orangered;
}

.pageTitle {
    padding-left: 45px;
}
