/* TODO Add site wide styles */
body {
    margin-top: 0px;
    font-family: 'Open Sans', sans-serif;
}

.audioPlayer {
    position: fixed;
    z-index: 10;
    bottom: 0;
    width: 1100px;
}

.audioPlayerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

li {
    list-style-type: none;
}
