li {
    color: grey;
    margin: auto;

}
.profile-dropdown {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: solid gray 2px;
    z-index: 1;
    margin: auto;
    padding: 0px;
    position: absolute;
    top: 7%;
    right:10.5%;
    list-style: none;
}
#menu {
    width: fit-content;
    font-size: 30px;
    color: white;

}

.menu {
    width: fit-content;
    position: fixed;
}

.menuButton {
    width: auto;
    display: flex;
    background-color: black;
    border: none;

}

button {
    width: auto;
}

button:hover {
    cursor: pointer;
}


#menuContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
