li {
    color: black;
    margin: auto;

}
.profile-dropdown {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: solid lightgrey 1px;
    z-index: 1;
    margin: auto;
    padding: 0px;
    position: absolute;
    top: 41px;
    right: 0px;
    list-style: none;
    width: 168px;
    border-radius: 3px;
}
#menu {
    width: fit-content;
    font-size: 30px;
    color: white;

}

#menu:hover {
    color: orange
}

/* .menu {
    width: fit-content;
    position: absolute;
} */

.menuButton {
    width: auto;
    display: flex;
    background-color: black;
    border: none;

}

button {
    width: auto;
}

button:hover {
    cursor: pointer;
}


#menuContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.links{
    padding-inline-start: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileButton {
    background-color: white;
    border: none;
    width: 168px;
    font-weight:900;
    text-align: left;
    padding: 0px;
    margin: 0px;
    height: 32.8px;
    padding-left: 10px;
    font-size: 12px;

}

.profileButton:hover {
    background-color: #f2f2f2;
}
