.signIn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 525px;
}

input {
    width: 400px;
    height: 35px;
    margin-bottom: 15px;
    font-size: 20px;
    border-radius: 4px;
    border-width: 1px;
}

.submit {
    width: 410px;
    height: 40px;
    font-size: 15px;
    background-color: orangered;
    border: none;
    border-radius: 4px;
    color: white;
}

.submit:hover {
    cursor: pointer;
}

.close {
    width: 25px;
    height: 25px;
    background-color: white;
    border: none;
    position: relative;
    left: 94%;

}

.close:hover {
    cursor: pointer;
}

i.fa-duotone.fa-x {
    width: 50px;
}

#openLogin {
    background-color: black;
    color: white;
    border-radius: 4px;
    border: lightgray solid 1px;
    height: 35px;
    width: 75px;

}

#openLogin:hover {
    border-color: white;
}

.demo {
    width: 410px;
    height: 40px;
    font-size: 15px;
    background-color: white;
    border: 2px solid orangered;
    border-radius: 4px;
    color: orangered;
    margin-top: 10px;
}
